In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
import json
import codecs
import pandas as pd
from tqdm import tqdm

In [3]:
posts = json.load(codecs.open('../Posts_02.json', 'r', 'utf-8-sig'))

JSONDecodeError: Expecting value: line 2 column 11 (char 13)

In [6]:
len(posts)

53800

In [0]:
data = pd.DataFrame(columns=['AuthorID', 
                             'OwnerID',
                             'CreatedDate',
                             'SearchQuery',
                             'AuthorType',
                             'OwnerType',
                             ])

In [9]:
for post in tqdm(posts):
    if '-' in post['AuthorID']:
        author_type = 0 # group
    else:
        author_type = 1 # user

    if '-' in post['OwnerID']:
        owner_type = 0 # group
    else:
        owner_type = 1 # user

    info = {'AuthorID': post['AuthorID'], 
            'OwnerID': post['OwnerID'],
            'CreatedDate': post['CreatedDate'][:10], # 'yyyy-mm-dd'
            'SearchQuery': post['Snippets'][0]['SearchQuery'],
            'AuthorType': author_type,
            'OwnerType': owner_type}

    # print(info)
    
    data = data.append(info, ignore_index=True)

100%|██████████| 53800/53800 [15:10<00:00, 59.11it/s]

In [0]:
# save
data.to_csv('/content/drive/My Drive/Angl/posts_info.csv')

In [10]:
data.head()

        AuthorID        OwnerID CreatedDate SearchQuery AuthorType OwnerType
0  VK_-137472625  VK_-137472625  2020-06-16        войс          0         0
1  VK_-110896651  VK_-110896651  2020-06-16        войс          0         0
2  VK_-196351490  VK_-196351490  2020-06-15        войс          0         0
3  VK_-184898993  VK_-184898993  2020-06-15        войс          0         0
4  VK_-164251213  VK_-164251213  2020-06-15        войс          0         0

In [12]:
data.tail()

            AuthorID        OwnerID  ... AuthorType OwnerType
53795  VK_-164193141  VK_-164193141  ...          0         0
53796   VK_-49207913   VK_-49207913  ...          0         0
53797   VK_153549451   VK_153549451  ...          1         1
53798   VK_320517396   VK_320517396  ...          1         1
53799  VK_-182525523  VK_-182525523  ...          0         0

[5 rows x 6 columns]